@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:ital,wght@0,200;0,400;0,600;1,100&display=swap');
body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    box-sizing: border-box;
    background: #556270;
    background: -webkit-linear-gradient(to right, #ff6b6b, #556270);
    background: linear-gradient(to right, #ff6b6b, #556270);
}
